
<div class="team_wrapper" ng-controller="index">
    <header>
        <a href="javascript:;"></a>
        <h2>食物查询工具</h2>
        <span></span>
    </header>
    <main>
        <div class="box">
            <a href="javascript:;" ng-click="fn(0)" ng-class="{bg:arr[0]}" ui-sref="foodGI" ui-sref-active="bg" >
                <dl>
                    <dt><i class="fa fa-coffee"></i></dt>
                    <dd>食物GI表</dd>
                </dl>
            </a>
            <a href="javascript:;" ng-click="fn(1)" ng-class="{bg:arr[1]}" ui-sref="foodChoose">
                <dl>
                    <dt><i class="fa fa-cutlery"></i></dt>
                    <dd>食物交换份</dd>
                </dl>
            </a>
            <a href="javascript:;" ng-click="fn(2)" ng-class="{bg:arr[2]}" ui-sref="ingredient">
                <dl>
                    <dt><i class="fa fa-flask"></i></dt>
                    <dd>食物成分表</dd>
                </dl>
            </a>
            <a href="javascript:;" ng-click="fn(3)" ng-class="{bg:arr[3]}" ui-sref="energy">
                <dl>
                    <dt><i class="fa fa-bell-o"></i></dt>
                    <dd>常见活动能量消耗</dd>
                </dl>
            </a>
            <a href="javascript:;" ng-click="fn(4)" ng-class="{bg:arr[4]}" ui-sref="boy">
                <dl>
                    <dt><i class="fa fa-sitemap"></i></dt>
                    <dd>BMI测试</dd>
                </dl>
            </a>
        </div>
    </main>
</div>
